~$*
*~
.*sw*
*.pyc
*.tmp
*.egg-info/
.config*
.DS_Store
.idea
.installed.cfg
.pypirc
.nyc_output
.cache/
.ipynb_checkpoints/
.idea/
.vscode/
__pycache__/
bin/
develop-eggs/
node_modules/
package-lock.json
Libraries/
build/
coverage/
demos/browser/logs/
demos/browser/package-lock.json
demos/components/node_modules
demos/react/node_modules
demos/react/lib
demos/react/public/app.js
dist/
integration-test-results/
integration/js/logs/
integration/js/node_modules
integration/js/temp
integration/kite-allure-reports
integration/logs
tmp/
venv/

# Github Pages
*.gem
.bundle
.sass-cache
.jekyll-metadata
.jekyll-cache
Gemfile.lock
vendor/
_site/
assets/js/dist/