~$*
*~
.*sw*
*.pyc
*.tmp
*.egg-info/
.config
.config-c
.config-d
.config-example
.config-NAKED
.config-test
.DS_Store
.idea
.installed.cfg
.pypirc
.nyc_output
.cache/
.ipynb_checkpoints/
.idea/
__pycache__/
bin/
develop-eggs/
node_modules/
Libraries/
build/
coverage/
demos/browser/logs/
demos/browser/package-lock.json
demos/components/node_modules
demos/react/node_modules
demos/react/lib
demos/react/public/app.js
dist/
integration-test-results/
integration/js/logs/
integration/js/node_modules
integration/js/temp
integration/kite-allure-reports
integration/logs
tmp/
venv/